
.menu-btn {
	-webkit-appearance: none;
	border: none;

	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;
	background: transparent;
	color: #F7F7F7;
	display: block;
	height: 40px;
	padding: 10px;
	width: 100%;

	span {
		@include box-shadow(0 1px 0 #ddd, 0 -1px 0 #eee);

		border-top: 1px solid #ddd;
		border-bottom: 1px solid #eee;
		display: block;
		height: 5px;
		margin: 0 auto;
		width: 40px;
	}
}

.slider {
	@include border-radius(8px);
	@include box-shadow(0 2px 9px rgba(#000, 0.5));

	background: black;
	height: 100%;
	top: 0;
	width: 100%;
	//z-index: 10;

	//swipe styles
	overflow-x: hidden;
	position: absolute;

	// Inactive styles controled via js set style tags in doc head
}

.no-touch .slider {
//	@include transition(all 0.5s);
}
.cards {
	@include clearFix;

	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;

	//swipe styles
	overflow: hidden;
	position: relative;

	p {
		@include rem(font-size, 20px);
	}
}

.card-holder {
	background: transparent;
	height: 100%;

	//swipe styles
	float: left;
	position: relative;
	width: 100%;

	//flip styles
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
}

.card-holder.on {

	#anatomy_slider & {
		.card-back {
			display: block; // Using the .on class we're only painting the current card and one on either side
		}
	}

	.card article {
		//flip styles
		@include backface-visibility(hidden);
	}

	.card-back {
		//flip styles
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-webkit-overflow-scrolling: touch;


		&:before, &:after {
			content: '';
			display: block;
			height: 12px;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 10;
		}

		&:before {
			@include border-radius(8px 8px 0 0);
			@include background-image(linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%));
			top: 0;
		}

		&:after {
			@include border-radius(0 0 8px 8px);
			@include background-image(linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%));
			bottom: 0;
		}
	}
}

#anatomy_slider .card-back {
	display: none; // This keeps the browser from having to paint every card out of view
}

.card {
	//flip styles
	height: 100%;
	position: absolute;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
}

.card article {
	@include border-radius(8px);

	background-color: $white;
	cursor: pointer;

	//flip styles
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}

.card.flipped {
	//flip styles
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
}

.card-body {
	@include rem(padding, 22px 10%);

	overflow-y: auto;

	background-repeat: no-repeat;
	background-position: top -8px;
	background-origin: content-box;
	background-size: 28px;
}

.card-front .card-body {
	height: 88%;
	background-image: url('../img/icon-back.png');
}

.card-back .card-body {
	height: 100%;
	background-image: url('../img/icon-front.png');
}

.flip-icon {
	display: none;
	width: 28px;
	float: right;
}

.character {
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 256px;
}

.character-small {
	display: block;
	margin: 0 auto 16px;
	width: 128px;
}

.card-back {
	position: relative;
}

.card-title, .term-title {
	@include rem(font-size, 22px);
	@include rem(margin-bottom, 16px);

	color: $red;
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
}

.card-title {
	@include rem(margin-bottom, 48px);
}

.meta-title {
	@include rem(font-size, 20px);

	line-height: 1.25em;
}

.ref-link {
	display: block;
}

#cover {
	.term-title {
		@include rem(margin-bottom, 42px);
	}
}

.card-nav {
	display: none;
}

.no-touch:hover .card-nav {
	display: block;
	margin-top: -60px;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 100;

	a {
		@include border-radius(30px);
		@include hiddenText;

		background-color: $black;
		background: $gray url(../img/arrow.png) no-repeat 60% 50%;
		display: block;
		height: 60px;
		opacity: .4;
		text-align: center;
		width: 60px;

		&:hover {
			opacity: .9;
		}
	}

	#prev {
		@include scale(-1);

		left: 0;
		top: 30px;
		position: absolute;
	}

	#next {
		right: 0;
		top: 30px;
		position: absolute;
	}
}

#loginform {
	@include rem(font-size, 16px);

	margin: 0 auto;
	width: 276px;

	input {
		@include sansSerif;
	}
}
.login-username,
.login-password {

	margin-bottom: 0;

	label {
		@include rem(margin-top, 8px);

		display: inline-block;
		min-width: 70px;
		vertical-align: top;
	}

	input {
		@include border-radius(4px);
		@include rem(margin, 0 auto 12px);
		@include rem(padding, 6px);

		//webkit default reset
		border: 1px solid $grayLight;
		-webkit-appearance: none;

		width: 202px;
		outline-color: $red;
	}
}
.login-remember {
	@include rem(margin-bottom, 10px);
	@include rem(margin-left, 73px);

	input {
		@include rem(margin-right, 10px);
		@include rem(margin-top, -4px);
	}
}
.login-submit input {
	@include border-radius(4px);
	@include rem(height, 40px);
	@include rem(padding, 6px);
	@include rem(width, 160px);

	//webkit default reset
	-webkit-appearance: none;
	border: 1px solid $red;

	background-color: $red;
	color: $white;
	display: block;
	margin: 0 auto;

	&:hover {
		@include box-shadow(0 1px 2px $gray);
		@include gradient-vertical(tint($red, 20%), $red);

		background-color: $red;
		border: 1px solid shade($red, 15%);
	}
}

.touch .login-submit input {
	@include box-shadow(0 1px 2px $gray);
	@include gradient-vertical(tint($red, 20%), $red);

	background-color: $red;
	border: 1px solid shade($red, 15%);
}

@media all and (min-height: 600px) {

.card-front .card-body {
	height: 91%;
}

}

@media all and (min-width: 600px) {

.term-title {
	@include rem(font-size, 30px);
	@include rem(margin-top, 18px);
	@include rem(margin-bottom, 24px);
}

.app .card-body {
	background-size: 42px;
}

.character-small {
	@include rem(margin-bottom, 24px);
}

#loginform {
	@include rem(font-size, 20px);

	width: 394px;
}

.login-username,
.login-password {
	label {
		min-width: 86px;
	}
	input {
		width: 302px;
	}
}

.login-remember {
	@include rem(margin-left, 90px);
	@include rem(margin-bottom, 64px);
}

}
